<h1><%= t('views.posts.edit_news') %></h1>
<% if policy(@post).update? %>
  <%= render 'form', post: @post %>

  <%= link_to t('links.destroy'), post_path, method: :delete,
    data: { confirm: 'Hey, sure?' },
    class: 'btn btn-danger' %></td>
<% end %>
