<div class="well well-lg">
  <h3><%= @post.title %></h3>
  <p><%= @post.body_html.html_safe %></p>
</div>

<% if policy(@post).update? %>
  <%= link_to t('links.edit'), edit_post_path(@post) %> |
<% end %>
<%= link_to t('links.back'), posts_path %>
